/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* HEADER */
header{
    background-color: #0d47a1;
    color: white;
    text-align: center;
    padding: 40px;
}

.eslogan{
    margin-top: 10px;
    font-size: 20px;
}

/* SECCIONES */
section{
    padding: 40px;
}

/* PROPUESTAS */
.propuestas{
    background-color: white;
}

.tarjeta{
    background-color: #e3f2fd;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

/* IMAGEN */
.imagen-candidato{
    text-align: center;
}

.imagen-candidato img{
    width: 300px;
    border-radius: 10px;
}

/* BOTON */
.accion{
    text-align: center;
}

button{
    background-color: #1565c0;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    background-color: #0d47a1;
}

/* NAVBAR */

.navbar{
    background-color: #0d47a1;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;
}

.menu{
    display: flex;
    gap: 20px;
    list-style: none;
}

.menu a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
